footer .footer-links {
    text-decoration: none;
    color: rgb(223, 221, 221);
}
.footer-links:hover {
    color: white;
}

.navbar-brand,
.nav-link {
    color: white !important;
}
.navbar-toggler-icon,
.navbar-toggler {
    color: white;
}
